#map {
    height: 500px;
    width: 70%;
    margin: 0 auto;
    border: solid 2px;
}

.orbit {
    stroke: #ffffff;
    stroke-width: 2;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: #fff;
    position: relative;
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://whschief.com/wp-content/uploads/2018/06/mission-iss-feature.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

h2 {
    margin-top: 70px;
}

#app {
    text-align: center;
    margin-top: 20px;
}

.coordinates {
    margin: 5px 0;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    display: none;
    margin-top: 5px;
}

label[for="followISS"] {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

label[for="followISS"].locked {
    background-color: #ffd700;
}

label[for="followISS"]:not(.locked) {
    background-color: #00c400;
}

button {
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #00c400;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    color: #fff;
}

footer{
    text-align: center;
}

